
@model IEnumerable<EmployeeViewModel>

<div class="container">
    <h2>Companies</h2>
    <div class="pb-2">
        <a asp-controller="Employees" asp-action="Edit"
           type="button" class="btn btn-primary">
            Create new employee
        </a>
    </div>
    <table class="table table-hover">
        <thead>
            <tr>
                <th>Id</th>
                <th>First Name</th>
                <th>Last Name</th>
                <th>Middle Name</th>
                <th>Hiring Date</th>
                <th>Position</th>
                <th>Company Name</th>
                <th>Actions</th>
            </tr>
        </thead>
        <tbody>
        @foreach (var employee in Model)
        {
            <tr>
                <td>@employee.Id</td>
                <td>@employee.LastName</td>
                <td>@employee.FirstName</td>
                <td>@employee.MiddleName</td>
                <td>@employee.HiringDate.Date</td>
                <td>@employee.Position.ToString()</td>
                <td>@employee.Company.Name</td>
                <td>
                    <div class="row">
                        <div>
                            <a asp-controller="Employees" asp-action="Edit"
                               asp-route-id="@employee.Id" type="button" class="btn btn-success">
                                Edit
                            </a>
                        </div>
                        <div class="pl-2">
                            <a asp-controller="Employees" asp-action="Delete"
                               asp-route-id="@employee.Id" type="button" class="btn btn-dark">
                                Delete
                            </a>
                        </div>
                    </div>
                </td>
            </tr>
        }
        </tbody>
    </table>
</div>